<!DOCTYPE html>
<html lang="en">

<head>
    <title>Brooks Dewpoint Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <!-- Navbar (Sits on top) -->
    <div class="w3-top w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button"><strong>Brooks</strong> Dewpoint Report</a>

        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/about" class="w3-bar-item w3-button">About</a>
        </div>

    </div>

    <div class="w3-container" style="margin-top: 60px;">
        <h1 id="dewPtDiv">Mr. Packard's Thoughts on the Dewpoint</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Velit euismod in pellentesque massa placerat duis ultricies lacus. Elementum integer enim
            neque volutpat ac tincidunt. Cursus sit amet dictum sit. Aenean vel elit scelerisque mauris pellentesque.
            Iaculis urna id volutpat lacus. Tellus mauris a diam maecenas sed enim ut. Vivamus at augue eget arcu dictum
            varius duis at. Nulla aliquet porttitor lacus luctus accumsan. Nunc non blandit massa enim nec dui nunc
            mattis enim. Duis at tellus at urna condimentum.</p>

        <p>Diam quam nulla porttitor massa id neque aliquam vestibulum. Ut pharetra sit amet aliquam. Mattis molestie a
            iaculis at erat pellentesque. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. Congue quisque
            egestas diam in arcu cursus euismod. Feugiat scelerisque varius morbi enim nunc faucibus a. Vehicula ipsum a
            arcu cursus vitae congue. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Nulla at
            volutpat diam ut venenatis tellus in. Vitae purus faucibus ornare suspendisse sed nisi lacus. Est ante in
            nibh mauris cursus. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Sit amet facilisis magna
            etiam tempor orci eu lobortis. Quis lectus nulla at volutpat diam. Nisi scelerisque eu ultrices vitae
            auctor. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Sit amet mattis vulputate enim
            nulla. Gravida neque convallis a cras semper. Auctor urna nunc id cursus. Neque volutpat ac tincidunt vitae
            semper quis lectus.
        </p>

        <p>Magna fermentum iaculis eu non. Sit amet dictum sit amet justo donec enim diam vulputate. Vulputate ut
            pharetra sit amet aliquam id diam maecenas ultricies. Justo nec ultrices dui sapien eget mi proin sed. Risus
            nec feugiat in fermentum posuere urna nec tincidunt. At elementum eu facilisis sed odio morbi. Euismod in
            pellentesque massa placerat duis ultricies lacus sed. Turpis egestas sed tempus urna. Scelerisque felis
            imperdiet proin fermentum leo. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius.</p>
        </p>
    </div>


</body>